@model List<ResultCarWithBrandDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Car List</h4>
                        <p class="card-subtitle mb-4">
                            For basic styling—light padding and only horizontal
                            dividers—add the base class <code>.table</code> to any
                            <code>&lt;table&gt;</code>.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Brand</th>
                                        <th>Model</th>
                                        <th>Transmission</th>
                                        <th>Km</th>
                                        <th>Delete</th>
                                        <th>Güncelle</th>
                                        <th>Details</th>
                                        <th>Show Site</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model){
                                        count++;
                                        <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.BrandName</td>
                                        <td>@item.Model</td>
                                        <td>@item.Transmission</td>
                                        <td>@item.Km</td>
                                            <td><a href="/AdminCar/RemoveCar/@item.CarID" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/AdminCar/UpdateCar/@item.CarID" class="btn btn-outline-success">Update</a></td>
                                            <td><a href="/AdminCar/DetailCar/@item.CarID" class="btn btn-outline-info">Detail</a></td>
                                            <td><a href="/AdminCar/DetailCar/@item.CarID" class="btn btn-outline-warning">Show</a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/AdminCar/CreateCar/" class="btn btn-outline-primary">Create<a></td>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
          
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>
